@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 90rem;
  width: 90rem;
  height: 50.4rem;
  /* background: aquamarine; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  font-family: "Source Sans 3", serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 51rem;
  /* justify-content: center; */
  align-items: center;
  padding: 0 15%;
  background-image: url(../images/headphones_hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: auto;
}

nav.desktop {
  display: flex;
  flex-direction: row;
  margin-top: 2.18rem;
  width: 100%;
  height: 1.88rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18rem;
}

nav.phone {
  display: none;
}

div > img {
  width: 10.44rem;
  height: 1.88rem;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav > ul > li {
  list-style: none;
  color: #fff;
  transition: 0.02s ease-in-out;
}

nav > ul > li:hover {
  color: #ff6565;
  opacity: 0.9;
  font-weight: bold;
}

article {
  width: 70%;
  text-align: center;
  color: #fff;
}

.btn {
  background: #ff6565;
  border: none;
  padding: 0.7rem;
  border-radius: 1rem;
  margin: 4rem 0;
  color: #fff;
  font-size: bold;
  transition: 0.3s ease-in-out;
}

.btn:active {
  transform: scale(0.8);
}

@media screen and (max-width: 480px) {
  body {
    width: 100vh;
    padding: 0;
    margin: 0;
  }
  header {
    width: 100vh;
    position: relative;
    padding: 0 10%;
    margin: 0;
    background-image: url(../images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: 45%;
    background-repeat: no-repeat;
  }
  
  nav.desktop {
    display: none;
  }

  nav.phone {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1.18rem;
    width: 100%;
    margin-bottom: 12rem;
  }

  .phone > div {
    display: flex;
    justify-content: flex-start;
    gap: 6rem;
  }

  .phone > div > img {
    width: 9.44rem;
    height: 1.88rem;
    transform: translatex(50%);
  }
  

  .phone > div > div >label {
    color: #fff;
    font-size: 2rem;
    position: absolute;
  }

  .phone > div > div >input {
    position: absolute;
    display: none;
  }

  .phone-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    margin-left: 1.3rem;
  }

  .close {
    display: none;
  }

  .menu {
    position: fixed;
    top: 1rem;
    left: 1.2rem;
  }

  #check:checked ~ .menu { left: 0;}

  article {
    width: 100%;
  }

  article > h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }
}

/* what we do section */

.what-we-do {
  display: flex;
  flex-direction: column;
  width: 90rem;
  padding: 0 15%;
  height: 43.4rem;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  flex-wrap: wrap;
  margin-top: 110px;
  background: #fff;

}

.what-we-do>div>p {
  width: 39.8rem;
  height: 184px;
  color: #071629;
  font-size: 1rem;
  text-align: center;

}

.what-we-do>article {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 12.5rem; 
  align-items: center;
  justify-content: center;
}

.what-we-do>article>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-solid {
  color: #ff6565;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.what-we-do>article>div>p {
  font-size: .6rem;
  width: 50%;
  color: #071629;
}

@media screen and (max-width: 768px) {
  .what-we-do {
    width: 100vh;
    padding: 0 5%;
    margin-left: 9rem;
  }

.what-we-do>article{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 469px;
}

.what-we-do>article>div>p {
  font-size: 1rem;
}
}

@media screen and (max-width: 480px) {
  body {
    height: 90rem;
  }
  .what-we-do {
    height: 90rem;
    width: 500px;
    padding: 0;
    margin-left: 14rem;
  }

.what-we-do>article{
  display: block;
  grid-template-columns: repeat(2, 1fr);
}

.what-we-do>article>div>p {
  font-size: 1rem;
  margin: 1rem 0;
}

.what-we-do>div {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: center;
  
}
.what-we-do>div>p {
  width: 90%;
  height: 184px;
  color: #071629;
  font-size: 1rem;
  text-align: center;
}
}







